{
    margin:0 px;
    padding:0 px;
    font-family: Century;
}
body{
    background-image: url('https://images.barrons.com/im-86071?width=1280&size=1.77777778');
    height:100vh;
    background-size: cover;
    background-position: center;
    min-height: 100px;
    color: antiquewhite;
}


button {
    padding: 8px 12px;
    background-color: #d87fcb;
    color: #e8e1e1;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 5px;
}

ul{
    float:right;
    list-style-type: none;
    margin-top: 30px;
    min-height: 400px;
    margin-right: 40px;
    font-size: 17px;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: rgb(235, 229, 229);
    padding: 5px 20px;
    border: 1px solid transparent;
    transition-duration: 0.5 ease;
}
ul li a:hover{
    background-color: rgb(138, 43, 226);
    color: azure;
}
ul li.active{
    background-color: blueviolet;
    color: rgb(170, 111, 226);
}
.logo img{
    float: left;
    width: 100px;
    height: auto;
}
.main{
    max-width: 1200px;
    margin: auto;
}
.title{
    position: absolute;
    top: 47%;
    left: 50%;
}
.title h1{
    color: aliceblue;
    font-size: 70px;
}
/* Styles for the dropdown */
.sub-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 1;
}

ul li:hover .sub-menu {
    display: block;
}

.sub-menu li {
    display: block;
    margin-bottom: 10px;
}

.sub-menu li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
}

.sub-menu li a img {
    width: 50px; /* Adjust image width as needed */
    height: auto;
    margin-right: 10px;
}



.sub-menu{
    display: none;
    top: 12%;
    position: relative;
}
.sub-menu ul{
    position: absolute;
}
.main ul li:hover  .sub-menu{
    display: block;
    position: absolute;
    background-color: aliceblue;
    margin-top: 1px;
    margin-left: -8px;
}
.main ul li:hover  .sub-menu ul{
    width: 5px;
    padding: 5px;
    border-bottom: 1px #ffff;
    background: transparent;
    transition: 0.4 ease;
    text-align: left;
    border-radius: 0px;
}
ul.dropdown li {
    display: block;
}
ul li a:hover {
    background-color: rgb(209, 32, 150);
    color: palevioletred;
}


ul ul.sub-menu {
    display: none;
    position: absolute;
    background-color: rgb(209, 32, 150);
    z-index: 999;
    padding: 0; 
    border: 0.5px solid rgb(194, 32, 209); /
}

ul ul.sub-menu li {
    display: block;
    padding: 2px 2px;
}

ul ul.sub-menu a {
    color: #000;
    text-decoration: none;
    display: block;
}

ul ul.sub-menu a:hover {
    background-color: rgb(209, 32, 150);
}
